[Desktop Entry]
Name=Festival
GenericName=Music player
Comment=Music player
Exec=festival
Icon=256
Type=Application
Categories=AudioVideo;Audio;Player;
