[Desktop Entry]
Name=Festival
GenericName=Music player
Comment=A music player for local album collections
Exec=Festival
Icon=festival
Type=Application
Categories=AudioVideo;Audio;Player;
StartupWMClass=Festival
Terminal=false
