pkgbase = festival-gui-bin
	pkgdesc = Festival music player GUI
	pkgver = 0.0.0
	pkgrel = 4
	url = https://github.com/hinto-janai/festival
	arch = x86_64
	license = custom
	source = https://github.com/hinto-janai/festival/releases/download/v0.0.0/festival-gui-v0.0.0-linux-x64.tar.gz
	validpgpkeys = 31C5145AAFA5A8DF1C1DB2A6D47CE05FA175A499
	sha256sums = ba36dbf1e2fb3a1e8f8c31cce73a0b41efe3021020250de4f66348050176f450

pkgname = festival-gui-bin
